@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@using TinyUrler_DotNetVersion.Data

@{
    var isAuthenticated = User.Identity != null && User.Identity.IsAuthenticated;
    string userId = isAuthenticated ? User.FindFirstValue(ClaimTypes.NameIdentifier) : null;
}

<div class="container">
    <div></div>
    <h1 class="container_title">tinyUrler!</h1>
    <div id="urlForm">
        <label for="url">Enter the url to be shortened:</label>
        <input type="url" id="url" name="url" required>

        <input type="hidden" value="@userId" id="userId">
        @if (isAuthenticated)
        {
            <button id="btn_submit">Accept</button>
        }
        else
        {
            <button id="btn_submit"><a asp-controller="Account" asp-action="Login">Accept</a></button>
        }
        <input type="text" id="ShortUrl" readonly>
    </div>
    <h2 id="errorText"></h2>
    <div></div>
</div>


<script src="~/js/jQuery.js"></script>
<script>
        function isValidUrl(string) {
            if (!string.includes(".com") && !string.includes(".ir"))
                return false;

            try { new URL(string); return true; }
            catch (_) { return false; }
        }

        $(document).ready(function () {
            document.getElementById("url").value = "https://";
        })

        document.getElementById('btn_submit').addEventListener('click', function () {
            let new_url = document.getElementById("url").value;
            //
            if (!isValidUrl(new_url)) {
                document.getElementById("errorText").innerText = null;
                document.getElementById("ShortUrl").innerText = null;
                document.getElementById("errorText").innerText = "Please enter a valid URL.";
                return;
            }

            document.getElementById("errorText").innerText = null;
            document.getElementById("ShortUrl").innerText = null;
            
            var userId = document.getElementById("userId").value;

            $.ajax({
                url: '@Url.Action("generate_short_url", "Home")',
                method: "POST",
                data: { "url": new_url, "userId": userId},
                success: function (data) {
                    document.getElementById("errorText").innerText = data.errorText;
                    document.getElementById("ShortUrl").value = String(data.shortUrl.toString());
                },
                error: function () { alert("something is going wrong!") }
            })
        });
    </script>
