*{
    margin: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(30, 37, 69);
   /* flex-direction: column;
   justify-content: center;
   align-items: center; */
}

.icons{
    /* border: 2px solid #bbb; */
    /* height: 20px; */
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 10px;
    gap: 30px;
    align-items: center;
}

#details{
    color: #FF8A65;
}

img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border: 1px solid wheat;
    border-radius: 100px;
}

.container{
    margin: 40px auto 40px auto;
    background-color: #FF8A65;
    width: 700px;
    border: 1px solid #FF8A65;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#urlForm{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px
}

label{
    text-align: left;
    font-size: 22px;
}

#urlForm>input, select, #btn_submit{
    width: 70%;
    height: 40px;
    border-radius: 20px;
    padding: 0 8px;
    font-size: 20px;
    border-color: aquamarine;
    direction: ltr;
}

#-submit{
    background: transparent;
    border: none;
    color: inherit;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline;
    cursor: pointer;
}

.links{
    color: #FF8A65;
    text-decoration: none;
}

.links:checked{
    color: #FF8A65;
    border: none;
    text-decoration: none
}

a:checked{
    color: #FF8A65;
    border: none;
    text-decoration: none
}

#btn_submit:hover{
    box-shadow: 0 0 ;
    transition: ease-in-out 250ms;
}

#error_text{
    color: red  ;
}
